@use "../presets/index" as *;
@use "../mixins/index" as *;

html {
  font-size: $font-size;
}

body {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $font-size;
}

a {
  color: $color-primary;
  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}

h1 {
  font-family: $font-header;
  position: relative;

  @include xs-min {
    font-size: 3rem;
    margin: -$gap-md 0 1em 0;
  }
  @include xs {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 1em 0;
}

  &::after{
    content:"";
    
    position: absolute;
   width: 100%;
    border-bottom: 3px solid $color-accent-light;
    margin: 0.85em 0 0 15px;
  }
}


h2 {
  font-family: $font-header;
  position: relative;
  padding-left: 45px;

  @include xs-min {
    font-size: 2.5rem;
    margin: 60px 0 45px 0;
  }
  @include xs {
font-size: 1.75rem;
    margin: 45px 0 30px 0;
}

&::before{
  content:"";
  
  position: absolute;
  left: 0;
 width: 30px;
  border-top: 3px solid $color-accent-light;
  @include xs-min {
margin: 10px 0 0 0; 
  }
  @include xs {
    margin: 7px 0 0 0; 

}

}

  &::after{
    content:"";
    
    position: absolute;
   width: 100%;
    border-bottom: 3px solid $color-accent-light;
    margin: 0.85em 0 0 15px;
  }
}

h3{
  font-size: 1.5rem;
  color: #23527c;
  font-weight: 400;
  font-family: $font-main;
  margin-top: 0px;

  @include xs-min {
    font-size: 1.5rem;
      }
      @include xs {
        font-size: 1.25rem;
    }
}

h3{
  font-size: 18px;
}

.hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}