@use "../presets/index" as *;
@use "../mixins/index" as *;

.main {
  margin-bottom: 80px;

  .site-search {
    margin-bottom: $gap * 3;
  }
  .site-login {
    margin-bottom: $gap * 4;
  }
}

.new-films {
  &-row {
    @extend %row;
  }

  &-item {
    @extend %item;

    &__thumbnail {
      @extend %thumbnail;
    }

    &__caption {
      padding: 9px;
    }

    &__title {
      @extend %title;
    }
  }
}

.top-week {
  &-row {
    @extend %row;
  }

  &-item {
    @extend %item;

    &__thumbnail {
      @extend %thumbnail;
    }

    &__caption {
      padding: 9px;
    }

    &__title {
      @extend %title;
    }
  }
}

.film-news {
  &-item {
    &__caption a {
      transition: all 0.5s;
    }

    &:hover,
    &:focus {
      a {
        color: $color-accent;
      }

      .film-news-item__btn {
        background-color: $color-accent;
        color: $color-white;
      }

      .film-news-item__thumbnail {
        background-color: $color-accent;
      }
    }

    &__thumbnail {
      margin-bottom: 0;
      transition: all 0.5s;
    }

    &__text {
      font-size: $font-size;
      font-family: $font-main;
      color: #333333;
      text-align: justify;
      margin-bottom: 10px;
    }

    &__btn {
      @extend %btn-style;
      margin-bottom: 30px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
