@use "../presets/index" as *;
@use "../mixins/index" as *;

.main {
  margin-bottom: $gap-xl;

  .site-search {
    margin-bottom: $gap * 3;
  }

  .site-login {
    margin-bottom: $gap * 4;
  }
}

.new-films {
  &-row {
    margin-right: -$gap-sm;
    margin-bottom: -$gap;
    margin-left: -$gap-sm;
  }

  &-item {
    margin-bottom: $gap;
    padding-right: $gap-sm;
    padding-left: $gap-sm;

    &__thumbnail {
      margin-bottom: 0;
    }
  }
}
