@use "../presets/index" as *;
@use "../mixins/index" as *;

.films-video {
  position: relative;

  a {
    color: inherit;
    text-decoration: none;
  }

  &__well {
    font-size: 1.2em;
    text-align: center;

    &-badge {
      white-space: nowrap;

      &:not(:last-of-type) {
        margin-right: $gap;
      }
    }

    &-info {
      font-size: 0.8em;
      margin-left: 5px;
    }
  }
}

.film-comments {
  &-name {
    margin-left: 7.25px;
  }

  &-item:first-of-type {
    margin-bottom: $gap * 2;
  }
}

.write-comment {
  &__btn {
    @extend %btn-style;

    &:hover,
    &:focus {
      color: white;
      background-color: $color-accent;
    }
  }
}
